* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 3.2rem auto;
  padding: 0 3.2rem;
  font-family: "Space Mono", monospace, sans-serif;
  background-image: url("Book Pics\\janko-ferlic-sfL_QOnmy00-unsplash.jpg");
  background-size: cover;
  color: #fff;
}
h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

/* HEADER */

header {
  text-align: center;

  max-width: 100%;
  margin-bottom: 7rem;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.4rem;
  color: #fff;
}

.book-icon {
  stroke: #ff8b45;
  margin-right: 1rem;
  margin-bottom: 0.7rem;
  font-size: 2rem;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150rem;
}

button {
  display: block;
  margin: 20px auto;
  background: #ff8b45;
  color: #ffffff;
  bottom: 0;
  padding: 6px 10px;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 56px;
  width: 184px;
  font-size: 26px;
  text-align: center;
  border-radius: 50px;
}
.add-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #e67d3e;
  color: #000000;
}

.myForm h3,
label {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.myForm h3 {
  grid-column: 1 / 5;
}

label {
  justify-self: self-start;
  grid-column: 1 / 4;
}

.myForm button {
  width: 150px;
  height: 70px;
  font-size: 26px;
  border-radius: 10px;
}
.wrapper-btn {
  width: 300px;
  display: flex;
  gap: 5px;
}

.myForm .close {
  background-color: crimson;
  color: #fff5f5;
}

input[type="text"] {
  height: 70px;
  width: 300px;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style: none;
  grid-column: 1 / 4;
  padding: 10px;
}
input[type="checkbox"] {
  margin-top: 8px;
  width: 20px;
  height: 20px;
  justify-self: flex-end;
}

.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #ff8b45;
}

::placeholder {
  color: #ff8b45;
  text-align: center;
}

.myForm {
  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 600px;
  margin: 5% auto;
  padding: 40px;
  background: #d0ebff;
  border-style: none;
  border-radius: 10px;
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-columns: 150px 75px 35px 35px;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(5, 20rem);
  margin-top: 3rem;
  justify-content: space-around;
  /* gap: 6rem; */
  width: 100%;
  gap: 5rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: inset 9px 0px 7px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#804623, #ff8b45, #ffa26a);
  border-radius: 5px;
  text-align: center;
  height: 30rem;
  margin-bottom: 2rem;
  padding: 1rem;
  line-height: 1;
  color: #000;
  position: relative;
  padding-top: 3rem;
  border-radius: 6% 1% 1% 6%;
  border: 2px solid #60351a;
}
.card h1 {
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  line-height: 1.2;
}

.card h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
}

.read-btn {
  width: 8rem;
  height: 4rem;
  transform: translate(60%, -10%);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  background-color: #f76707;
}

.read-btn:hover {
  background-color: #d9480f;
}

.unread-btn {
  width: 8rem;
  height: 4rem;
  transform: translate(60%, -10%);
  text-align: center;
  border-radius: 5px;
  background-color: #f03e3e;
  color: #d0ebff;
  position: absolute;
}

.unread-btn:hover {
  background-color: crimson;
}

.remove-btn {
  position: absolute;
  background-color: crimson;
  color: #fff;
  top: -10px;
  right: 10px;
  height: 27px;
  width: 27x;
  text-align: start;
  border-radius: 5px;
}

.remove-btn:hover {
  background-color: red;
}

/* FOOTER */
footer {
  height: 3.2rem;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 0;
}

/* MEDIA QUERIES */

@media (max-width: 75em) {
  .book-container {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    margin-top: 3rem;
    justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 58em) {
  .book-container {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    margin-top: 3rem;
    justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 46em) {
  .book-container {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    margin-top: 3rem;
    justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 31em) {
  body {
    background-size: cover;
  }
  .book-container {
    display: grid;
    grid-template-columns: repeat(1, 20rem);
    margin-top: 3rem;
    justify-content: space-around;
    width: 100%;
  }
}
